<!doctype html>
<html>
<head>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet"> 
<meta charset="UTF-8">
<title>Sylvia McCauley</title>

</head>
<body class="{{page.bodyClass}}">
	<header>
	        <img src="images/logo.svg" class="logo" alt="">
	</header>

<div class="clearfix">
{{content}}
        <footer class="footer">
        
        		<a href="https://twitter.com/mccauleysylvia"> <img src="images/twitterlogo.svg" class="socialmedia" alt="link to twitter"> </a>
			<a href="http://ca.linkedin.com/pub/sylvia-mccauley/34/b27/30b"> <img src="images/linkedin.svg" class="socialmedia" alt="link to linked in 			profile"> </a>
			<a href="mailto:mccauley.sylvia@gmail.com"> <img src="images/mail.svg" class="socialmedia" alt="link to mail sylvia mccauley"> </a>
        
        </footer>
</div>
</body>
</html>